@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --privco-blue: #043873;
  --privco-lightblue: #80c7fb;
  --privco-white: #fff;
  --privco-black: #000;
  --privco-gray: #ebedf0;
  --privco-yellow: #fff6a3;
  --privco-green: #34c759;
  --privco-lightgreen: #e7fff0;
  font-family: "Roboto", sans-serif;
}
